npmdebug.log*
yarndebug.log*
yarnerror.log*
test/unit/coverage
test/e2e/reports
seleniumdebug.log
/.idea/*
/node_modules/*
/build/vendor-manifest.json
/bower_components/*
/dll/*
package-lock.json
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
